.home__page{
    color: var(--color-primary);
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    @extend %sec-padding;
    &--text{
        display: grid;
        grid-template-rows: repeat(auto, max-content);
        grid-row-gap: 1vh;
        &__para{
            font-size: font-size(font-size-small);
        }
    
        &__header{
            font-size: font-size(font-size-large);
        }
    
        h2{
            font-size: font-size(font-size-regular);
            background: linear-gradient(90deg, var(--color-secondary), var(--color-quinary));
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        &__links{
            color: var(--color-secondary);
            display: block;
            width: calc(15rem + 5vw);
            font-size: font-size(font-size-small) !important;
            text-align: center;
            padding: 1rem;
            border:  2px solid var(--color-secondary);
            border-radius: 1.5rem;
            margin-top: 2rem;
            background: transparent;
        }

        &__links:hover,
        &__links:visited{
            background-color: var(--color-primary);
        }
    }
    @include media-tablet{
        &--img{
            width: 24rem;
            height: 24rem;
        }
    }

    @include media-medium{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &--img{
            position: absolute;
            top: 3rem;
            left: 3rem;
        }

        &--text{
            margin-top: 15rem;
        }
    }
}